.module {
  color: white;
  margin: auto;
  height: 92%;
  width: 90%;
  padding-right: 10rem;
  padding-left: 10rem;
  div {
    // padding: 0rem;
    margin: 2rem;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* the good stuff starts here */

$module_width: 100%;
$box_height: auto;

/* multiple columns w/ margins */

.grid_margins {
  $margin_width: 2rem;
  margin-right: 3%;
  margin-left: 3%;
  overflow: hidden;
  width: $module_width;
  & > .liner {
    margin-top: -$margin_width;
    margin-right: -$margin_width;
    & > div {
      float: left;
      height: $box_height;
      width: 100%;
      margin-top: $margin_width;
    }
  }
}

.about-text p {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 916px) {
  .grid_margins {
    width: $module_width;
    & > div {
      height: $box_height;
    }
  }
  .module {
    color: white;
    margin: auto;
    height: 92%;
    width: 90%;
    padding-right: 10rem;
    padding-left: 10rem;
    div {
      // padding: 0rem;
      margin: 2rem;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
